<nav class="">
    <ul>
      <%= link_to "Store Home", store_path %><br>
      <% if !!current_user %>
        Signed in as <%= current_user.email %><br>
        <%= link_to("Sign out", destroy_user_session_path, :method => :delete) %><br>
      <% else %>
        <%= link_to("Sign up", new_user_registration_path) %><br>
        <%= link_to("sign in", new_user_session_path) %><br>
      <% end %>

      <% if !!current_user && !!current_cart %>
        <%= link_to "Cart", cart_path(current_user.current_cart) %>
      <% end %>
    </ul>
</nav>
